/* howItWorks */

.howItWorks{
    background-image: url('/imgs/how_it_works_bg.png');
    padding: 2em;
    
}

.howItWorks h1{
    color: black;
    text-align: center;
    margin: 0.8em;

    font-size: 2em;
}

.howItWorks h4{
    color: #c9c5c5;
    text-align: center;
    font-size: 1em;
    margin-top: -1em;
}

.icon-container{
    /*background-color: crimson;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5em;
}


@media (max-width:768px){
    .howItWorks{
     /* background: red; */
        width: 92.5vw;
    }

    .howItWorks h1{
        font-size: 1.8rem;
    }

    .howItWorks h4{
        font-size: 1.2rem;
    }

    .howItWorks .icon-container{
        /* background: red; */
        width: 80vw;
        margin-left: 2.5em;
        font-size: 1rem;

    }
}

@media (max-width:376px){
    .howItWorks{
     /* background: red; */
        width: 83vw;
    }

    .howItWorks h1{
        font-size: 1.2rem;
    }

    .howItWorks h4{
        font-size: 0.8rem;
    }

    .howItWorks .icon-container{
        flex-direction: column;
        /* background: red; */
        width: 65vw;
        margin-left: 2.5em;

    }
}

