#map{
  height: 100vh;
} 

.mapboxgl-ctrl-geocoder--icon-search{
  display: none;
} 

.mapboxgl-ctrl-attrib-inner,.mapboxgl-ctrl .mapboxgl-ctrl-logo{
  display: none;
}

.mapboxgl-ctrl-top-right{
  position: absolute;
  width: 100vw;
  right: 40.5em;
  top: -7.1em;
  z-index: 400;
}

.mapboxgl-ctrl-group{
  position: relative;
  right: 60em;
  top: 16em;
}

.mapboxgl-ctrl-geocoder--input{
  border: none;
  right: 20em;
  padding: 1em;
}

.divContainer{
  position: relative;
  z-index: 400;
  padding: 2em 0em 1em 0em;
  background:#314049;
  opacity: 0.9;
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
}

.divContainer button{
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
  height: 5.8vh;
  width: 8vw;
  padding: 0.4em;
  cursor: pointer;
  position: relative;
  left: 15em;
  margin-top: -0.1em;
}

.divContainer button:hover{
background: #09c2a9;
}

#message{
  color:#095219;
  background:#83f59c;
  border:  1.8px solid #bcf8c9;
  position: absolute;
  bottom: 28.5em;
  left: 2.5em;
  padding: 0.8em;
  z-index: 1000;
}

#updateConfirm{
  color:#095219;
  background:#83f59c;
  border:  1.8px solid #bcf8c9;
  position: absolute;
  bottom: 26.7em;
  left: 2.5em;
  padding: 0.8em;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

#confirmChoice{
  width: 15vw;
  margin-left: 2em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  /* background: rebeccapurple; */
}

#confirmChoice button{
  width: 5vw;
  height: 4vh;
}

.divContainer .forResponsive{
  display: none;
}

@media(max-width:376px){
  .divContainer{
    height: 5vh;
  }

  .divContainer .forResponsive{
    display: block;
  }

  .divContainer .forResponsive #menu-icon{
    position: relative;
    top: -0.8em;
    right: 12.5em;
    height: 4vh;
    width: 8vw;
    padding: 0.5em;
    border: 1px solid #4adac6;
}

.divContainer .forResponsive .sidebar{
  top: 14.1em;
  right: 6.3em;;
  height: 100vh;
}

}