* {
  margin: 0;
  padding: 0;
}

/* LandingPage */
.landingpage-main {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpage-main #logo {
  height: 16vh;
  width: 56vw;
  margin: 7em 16.5em;
}

.landingpage-main li:hover {
  color: #00d3b8;
  cursor: pointer;
}

.landingpage-main .tagline {
  text-align: center;
  width: 45vw;
  margin: -5em 0em 0em 24em;
  color: white;
  font-size: 0.9em;
}

.landingpage-main .tagline button {
  padding: 1em 5em;
  margin: 2em;
  font-size: 1em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.landingpage-main .tagline button:hover {
  background: #09c2a9;
}

.landing-nav {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-nav ul {
  width: 50%;
  list-style: none;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-nav #login-button {
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .landingpage-main {
    width: 100.9vw;
  }
  .landing-nav ul {
    width: 90vw;
    margin: 0em 0em 0em 0.9em;
    font-size: 1.5rem;
  }
  .landing-nav ul #login-button {
    width: 20vw;
  }
  .landingpage-main #logo {
    width: 80vw;
    height: 8vh;
    margin: 5em 1em 1em 5em;
  }
  .landingpage-main .tagline {
    margin: 6em 0em 0em 14em;
    width: 58vw;
    font-size: 0.8rem;
  }
  .landingpage-main .tagline button {
    width: 45vw;
    font-size: 1.2rem;
    margin-left: 2em;
  }
}

@media (max-width: 376px) {
  .landingpage-main {
    width: 100vw;
  }
  .landing-nav {
    height: 35vh;
  }
  .landing-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0em 0em 0em 0.9em;
    height: 30vh;
    font-size: 0.85rem;
  }
  .landing-nav ul #login-button {
    width: 20vw;
  }
  .landingpage-main #logo {
    width: 70vw;
    height: 6vh;
    margin: 1em 1em 1em 3.8em;
  }
  .landingpage-main .tagline {
    margin: 6em 0em 0em 11em;
    width: 58vw;
    font-size: 0.5rem;
  }
  .landingpage-main .tagline button {
    width: 45vw;
    font-size: 0.6rem;
    margin-left: 2em;
  }
}

/* Register */
.register-box .error {
  color: #f19797;
  font-size: 0.8rem;
}

.register {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register #logoImage {
  margin: 2em 0em 0em 35.6em;
}

.register .connections {
  position: absolute;
  bottom: 0em;
}

.register .connections img {
  opacity: 0.3;
  width: 100vw;
}

.register-box {
  width: 25vw;
  margin: 1em 30em;
}

.register-box h3 {
  font-weight: 400;
  color: #ffff;
  padding: 0.5em 0em;
}

.register-box #successMessage {
  position: relative;
  font-size: 0.9rem;
  top: 1em;
  color: #095219;
  background: #83f59c;
  border: 1.8px solid #bcf8c9;
  padding: 0.3em;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-form input {
  padding: 0.75em;
  margin: 0.25em 0;
  border: none;
  outline: none;
  width: 23.5vw;
  border-radius: 0.2em;
}

.register-form .contact .flag-select__btn {
  background: #ffff;
  color: #8d8c8c;
  width: 7vw;
  height: 5.5vh;
  padding: 0;
}

.register-form .flag-select__option {
  height: 2vh;
  width: 4vw;
  font-size: 0.85rem;
}

.register-form .flag-select__option .flag-select__option__label {
  display: none;
}

.register-form .flag-select__options {
  height: 14vh;
  width: 7vw;
  overflow: hidden;
}

.register-form .flag-select__options .filterBox input {
  border: solid 1px black;
  margin: 0em 0.1em 0.3em 0.3em;
  height: 2vh;
  width: 6vw;
  padding: 0.2em 0em 0.2em 0.2em;
  text-indent: 0.3em;
}

.register-form .flag-select__option__icon {
  width: 18vw;
  margin-left: -6em;
  margin-top: -0.5em;
}

.register-form button {
  width: 25vw;
  padding: 0.8em;
  margin-top: 0.25em;
  cursor: pointer;
  z-index: 1;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.register-form button:hover {
  background: #09c2a9;
}

.register-form .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.register-form .contact input {
  margin-left: 0.4em;
  width: 16vw;
  border: none;
  outline: none;
}

.register-form .contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22vw;
}

.register-form .contact .errorPhone {
  color: #f19797;
  margin-left: 0.4em;
  font-size: 0.8rem;
}

.register-form label {
  color: #ffff;
  margin: 1em 2.9em;
  z-index: 1;
}

.register-form label a {
  text-decoration: none;
  color: #00d3b8;
  margin-left: 0.4em;
  cursor: pointer;
}

.register-form label a:hover {
  color: #ffff;
}

@media (max-width: 768px) {
  .register {
    width: 100vw;
  }
  .register #logoImage {
    margin: 8em 0em 0em 19em;
    height: 5vh;
  }
  .register .connections .copyright {
    font-size: 0.9rem;
    top: 2.3em;
  }
  .register .connections .connect {
    position: relative;
    top: -0.1em;
    width: 75vw;
  }
  .register .connections .connect .networks {
    position: relative;
  }
  .register .connections .connect .networks img {
    opacity: 0.3;
    width: 1.5em;
  }
  .register-box {
    margin: 5em 0em 0em 10.8em;
    width: 60vw;
  }
  .register-box h3 {
    font-size: 1.4rem;
  }
  .register-box label {
    width: 42vw;
    font-size: 1.2rem;
    margin-left: 4.8em;
  }
  .register-box input {
    width: 55vw;
    font-size: 1.2rem;
  }
  .register-box button {
    font-size: 1rem;
    width: 59vw;
  }
  .register-box .contact .flag-select__btn {
    width: 17vw;
    margin-top: 0.3em;
    height: 4.8vh;
  }
  .register-box .contact .flag-select__option--placeholder {
    display: block;
    font-size: 1.2rem;
    width: 15vw;
    padding: 0;
    margin-top: 0.6em;
    margin-left: -0.1em;
  }
  .register-box .contact .flag-select__options {
    height: 14vh;
    width: 17vw;
    overflow: hidden;
  }
  .register-box .contact .flag-select__option img {
    width: 15vw;
    margin-left: -0.2em;
    margin-bottom: -0.1em;
    font-size: 1.2rem;
  }
  .register-box .contact .flag-select__options .filterBox input {
    border: solid 1px black;
    width: 14.5vw;
    text-indent: 0.6em;
  }
  .register-box .contact .flag-select__option .flag-select__option__label {
    display: none;
  }
  .register-box .contact .flag-select__btn:after, .register-box .contact .flag-select__btn[aria-expanded="true"]:after {
    margin: -1.8em 0em 1em 5.4em;
  }
  .register-box .contact .phone input {
    width: 37vw;
  }
}

@media (max-width: 376px) {
  .connections {
    display: none;
  }
  .register {
    width: 100vw;
  }
  .register #logoImage {
    margin: 4em 0em 0em 8.5em;
    height: 5vh;
  }
  .register #successMessage {
    font-size: 0.75rem;
  }
  .register .register-box {
    margin-top: 1.5em;
    margin-left: 5.2em;
  }
  .register .register-box h3 {
    font-size: 0.95rem;
  }
  .register .register-box label {
    width: 57vw;
    font-size: 0.8rem;
    margin-left: 1.75em;
  }
  .register .register-box #forgotpass-label {
    width: 33vw;
    font-size: 0.8rem;
    margin-left: 4em;
  }
  .register .register-box input {
    width: 55vw;
    font-size: 0.75rem;
  }
  .register .register-box button {
    font-size: 0.75rem;
    width: 60vw;
  }
  .register .register-box .contact .phone .errorPhone {
    width: 35vw;
  }
  .register .register-box .contact .flag-select__btn {
    width: 20vw;
    margin-top: 0.15em;
  }
  .register .register-box .contact .flag-select__option--placeholder {
    display: block;
    width: 15vw;
    padding: 0;
    margin-top: 0.7em;
    margin-left: 0.2em;
    font-size: 0.75rem;
  }
  .register .register-box .contact .flag-select__options {
    height: 14vh;
    width: 18vw;
    overflow: hidden;
  }
  .register .register-box .contact .flag-select__option img {
    width: 15vw;
    margin-left: -0.2em;
    margin-bottom: 0em;
    font-size: 0.75rem;
  }
  .register .register-box .contact .flag-select__options .filterBox input {
    border: solid 1px black;
    width: 14.5vw;
    text-indent: 0.6em;
  }
  .register .register-box .contact .flag-select__option .flag-select__option__label {
    display: none;
  }
  .register .register-box .contact .flag-select__btn:after, .register .register-box .contact .flag-select__btn[aria-expanded="true"]:after {
    margin: -1.4em 0em 1em 3.4em;
  }
  .register .register-box .contact .phone input {
    width: 34vw;
    margin-left: 0.3em;
  }
}

.forgotPasswd {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgotPasswd #logoImage {
  margin: 2em 0em 0em 35.6em;
}

.forgotPasswd .connections {
  position: absolute;
  bottom: 0em;
}

.forgotPasswd .connections img {
  width: 100vw;
}

.forgotPasswd-box {
  width: 25vw;
  margin: 5em 30em;
}

.forgotPasswd-box h3 {
  font-weight: 400;
  color: #ffff;
  padding: 0.5em 0em;
}

.forgotPasswd-box #successMessage {
  position: relative;
  font-size: 0.9rem;
  top: 1em;
  color: #095219;
  background: #83f59c;
  border: 1.8px solid #bcf8c9;
  padding: 0.3em;
}

.forgotPasswd-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forgotPasswd-form input {
  padding: 0.75em;
  margin: 0.25em 0;
  border: none;
  outline: none;
  border-radius: 0.2em;
  width: 23.5vw;
}

.forgotPasswd-form label {
  color: #ffff;
  margin: 1em 1.5em;
}

.forgotPasswd-form label a {
  text-decoration: none;
  color: #00d3b8;
  margin-left: 0.2em;
  cursor: pointer;
}

.forgotPasswd-form label a:hover {
  color: #ffff;
}

.forgotPasswd-form button {
  width: 25vw;
  padding: 0.8em;
  margin-top: 0.25em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.forgotPasswd-form button:hover {
  background: #09c2a9;
}

@media (max-width: 768px) {
  .forgotPasswd-box {
    margin-left: 7em;
    width: 60vw;
  }
  .forgotPasswd img {
    margin: 2em 0em 2em 11.5em;
  }
  .forgotPasswd-form button {
    width: 60vw;
  }
  .forgotPasswd-form label {
    width: 54vw;
    margin-left: 1em;
  }
}

@media (max-width: 376px) {
  .forgotPasswd {
    width: 100vw;
  }
  .forgotPasswd #logoImage {
    margin: 4em 0em 0em 8.5em;
    height: 5vh;
  }
  .forgotPasswd #successMessage {
    width: 57vw;
    font-size: 0.75em;
  }
  .forgotPasswd .forgotPasswd-box {
    margin-left: 5.2em;
  }
  .forgotPasswd .forgotPasswd-box h3 {
    font-size: 0.95rem;
  }
  .forgotPasswd .forgotPasswd-box label {
    width: 57vw;
    font-size: 0.8rem;
    margin-left: 0.5em;
  }
  .forgotPasswd .forgotPasswd-box #forgotpass-label {
    width: 33vw;
    font-size: 0.8rem;
    margin-left: 4em;
  }
  .forgotPasswd .forgotPasswd-box .error {
    font-size: 0.75rem;
    width: 65vw;
  }
  .forgotPasswd .forgotPasswd-box input {
    width: 55vw;
    font-size: 0.75rem;
  }
  .forgotPasswd .forgotPasswd-box button {
    font-size: 0.75rem;
    width: 60vw;
  }
  .forgotPasswd .connections {
    display: none;
    margin: 0;
  }
  .forgotPasswd .connections img {
    margin: 0;
  }
}

.resetPasswd {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resetPasswd #logoImage {
  margin: 2em 0em 0em 35.6em;
}

.resetPasswd .connections {
  position: absolute;
  bottom: 0em;
}

.resetPasswd .connections img {
  width: 100vw;
}

.resetPasswd-box {
  width: 25vw;
  margin: 5em 30em;
}

.resetPasswd-box h3 {
  font-weight: 400;
  color: #ffff;
  padding: 0.5em 0em;
}

.resetPasswd-box #successMessage {
  position: relative;
  font-size: 0.9rem;
  top: 1em;
  color: #095219;
  background: #83f59c;
  border: 1.8px solid #bcf8c9;
  padding: 0.3em;
}

.resetPasswd-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resetPasswd-form input {
  padding: 0.75em;
  margin: 0.25em 0;
  border: none;
  outline: none;
  border-radius: 0.2em;
  width: 23.5vw;
}

.resetPasswd-form label {
  color: #ffff;
  margin: 1em 1.5em;
}

.resetPasswd-form label a {
  text-decoration: none;
  color: #00d3b8;
  margin-left: 0.2em;
  cursor: pointer;
}

.resetPasswd-form label a:hover {
  color: #ffff;
}

.resetPasswd-form button {
  width: 25vw;
  padding: 0.8em;
  margin-top: 0.25em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.resetPasswd-form button:hover {
  background: #09c2a9;
}

@media (max-width: 768px) {
  .forgotPasswd-box {
    margin-left: 7em;
    width: 60vw;
  }
  .forgotPasswd img {
    margin: 2em 0em 2em 11.5em;
  }
  .forgotPasswd-form button {
    width: 60vw;
  }
  .forgotPasswd-form label {
    width: 54vw;
    margin-left: 1em;
  }
}

@media (max-width: 376px) {
  .resetPasswd {
    width: 100vw;
  }
  .resetPasswd #logoImage {
    margin: 4em 0em 0em 8.5em;
    height: 5vh;
  }
  .resetPasswd #successMessage {
    width: 57vw;
    font-size: 0.75em;
  }
  .resetPasswd .resetPasswd-box {
    margin-left: 5.2em;
  }
  .resetPasswd .resetPasswd-box h3 {
    font-size: 0.95rem;
    width: 60vw;
  }
  .resetPasswd .resetPasswd-box label {
    width: 57vw;
    font-size: 0.8rem;
    margin-left: 0.5em;
  }
  .resetPasswd .resetPasswd-box #forgotpass-label {
    width: 33vw;
    font-size: 0.8rem;
    margin-left: 4em;
  }
  .resetPasswd .resetPasswd-box .error {
    font-size: 0.75rem;
    width: 65vw;
  }
  .resetPasswd .resetPasswd-box input {
    width: 55vw;
    font-size: 0.75rem;
  }
  .resetPasswd .resetPasswd-box button {
    font-size: 0.75rem;
    width: 60vw;
  }
  .resetPasswd .connections {
    display: none;
    margin: 0;
  }
  .resetPasswd .connections img {
    margin: 0;
  }
}

/* Login */
.login {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login #logoImage {
  margin: 2em 0em 0em 35.6em;
}

.login .connections {
  position: absolute;
  bottom: 0em;
}

.login .connections img {
  opacity: 0.3;
  width: 100vw;
}

.login-box {
  width: 25vw;
  margin: 1em 30em;
}

.login-box h3 {
  font-weight: 400;
  color: #ffff;
  padding: 0.5em 0em;
}

.login-box #forgotpass-label {
  margin: 0em 0em 0em 6em;
  font-size: 0.9rem;
  width: 12vw;
}

.login-box #successMessage {
  position: relative;
  font-size: 0.9rem;
  top: 1em;
  color: #095219;
  background: #83f59c;
  border: 1.8px solid #bcf8c9;
  padding: 0.3em;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-form input {
  padding: 0.75em;
  margin: 0.25em 0;
  border: none;
  outline: none;
  border-radius: 0.2em;
  width: 23.5vw;
}

.login-form label {
  color: #ffff;
  margin: 1em 1.5em;
}

.login-form label a {
  text-decoration: none;
  color: #00d3b8;
  margin-left: 0.2em;
  cursor: pointer;
}

.login-form label a:hover {
  color: #ffff;
}

.login-form button {
  width: 25vw;
  padding: 0.8em;
  margin-top: 0.25em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.login-form button:hover {
  background: #09c2a9;
}

@media (max-width: 768px) {
  .login {
    width: 100vw;
  }
  .login #logoImage {
    margin: 8em 0em 0em 19em;
    height: 5vh;
  }
  .login .login-box {
    margin: 5em 0em 0em 10.8em;
  }
  .login .login-box h3 {
    font-size: 1.4rem;
  }
  .login .login-box label {
    width: 42vw;
    font-size: 1.2rem;
    margin-left: 3.4em;
  }
  .login .login-box #forgotpass-label {
    width: 25vw;
    font-size: 1.2rem;
    margin-left: 6.8em;
  }
  .login .login-box input {
    width: 55vw;
    font-size: 1.2rem;
  }
  .login .login-box button {
    font-size: 1rem;
    width: 59vw;
  }
  .login .connections .copyright {
    font-size: 0.9rem;
    top: 2.3em;
  }
  .login .connections .connect {
    position: relative;
    top: -0.15em;
    width: 75vw;
  }
  .login .connections .connect .networks {
    position: relative;
  }
  .login .connections .connect .networks img {
    opacity: 0.3;
    width: 1.5em;
  }
}

@media (max-width: 376px) {
  .login {
    width: 100vw;
  }
  .login #logoImage {
    margin: 4em 0em 0em 8.5em;
    height: 5vh;
  }
  .login #successMessage {
    width: 57vw;
    font-size: 0.75em;
  }
  .login .login-box {
    margin-left: 5.2em;
  }
  .login .login-box h3 {
    font-size: 0.95rem;
  }
  .login .login-box label {
    width: 57vw;
    font-size: 0.8rem;
    margin-left: 0.5em;
  }
  .login .login-box #forgotpass-label {
    width: 33vw;
    font-size: 0.8rem;
    margin-left: 4em;
  }
  .login .login-box .error {
    font-size: 0.75rem;
    width: 65vw;
  }
  .login .login-box input {
    width: 55vw;
    font-size: 0.75rem;
  }
  .login .login-box button {
    font-size: 0.75rem;
    width: 60vw;
  }
  .login .connections {
    display: none;
    margin: 0;
  }
  .login .connections img {
    margin: 0;
  }
}

/* homepage */
.homepage {
  background-image: url("/imgs/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .connections {
  position: relative;
  margin-top: -8.6em;
}

.homepage .connections img {
  width: 100vw;
}

.homepage .forResponsive {
  display: none;
}

.home-display {
  text-align: center;
  margin: 4em auto;
  height: 10em;
  width: 19em;
  color: white;
  font-size: 1.7em;
}

.home-options {
  width: 30vw;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-options button {
  width: 15vw;
  padding: 0.8em;
  margin: 0.25em 0.8em;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.home-options button:hover {
  background: #09c2a9;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-display {
    width: auto;
    height: auto;
  }
  .home-display p {
    font-size: 1.3rem;
    width: 70vw;
    margin: 0 auto;
  }
  .home-options {
    margin-top: 1.2em;
    width: 50vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-options button {
    width: 20vw;
    padding: 0.8em 0.8em;
    border-radius: 0.2em;
  }
}

@media (max-width: 376px) {
  .homepage {
    margin-top: -6.8em;
  }
  .home-display {
    position: relative;
    top: 8em;
    z-index: 1;
  }
  .home-display p {
    font-size: 0.9rem;
  }
  .home-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-options button {
    font-size: 0.75rem;
    width: 55vw;
  }
  .homepage .homepage-nav {
    display: none;
  }
  .homepage .forResponsive {
    display: block;
  }
  .homepage .forResponsive #menu-icon {
    position: relative;
    bottom: 15em;
    left: 2em;
    height: 4vh;
    width: 8vw;
    padding: 0.5em;
    border: 1px solid #4adac6;
  }
  .homepage .connections {
    display: none;
  }
  .homepage .connections img {
    display: none;
  }
}

/* searchPage */
.searchpage {
  background-image: url("/imgs/bg.png");
  height: 100vh;
}

.searchpage .forResponsive {
  display: none;
}

.searchpage .connections {
  position: relative;
  margin-top: 6.9em;
}

.searchpage .connections img {
  width: 100vw;
}

.searchpage .connections .forResponsive {
  display: none;
}

.searchpage h2 {
  margin: 5em  0em 2em 19em;
  color: #ffff;
  font-weight: 400;
}

@media (max-width: 768px) {
  .searchpage h2 {
    font-size: 1.8rem;
    margin: 4.5em 0.5em 1em 1.8em;
    font-weight: 300;
  }
  .searchpage .options {
    margin: 0 auto;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .searchpage .options input {
    width: 20em;
  }
  .searchpage .options button {
    width: 15vw;
  }
}

@media (max-width: 376px) {
  .searchpage {
    margin-top: -5.9em;
  }
  .searchpage h2 {
    position: relative;
    top: 11em;
    font-size: 1.2rem;
    margin-left: 2.5em;
  }
  .searchpage .options {
    position: relative;
    top: 15em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .searchpage .options input {
    width: 70vw;
    font-size: 0.8rem;
  }
  .searchpage .options button {
    font-size: 0.8rem;
    width: 75vw;
    margin: 1em 0em 0em -0.5em;
  }
  .searchpage .forResponsive {
    display: block;
  }
  .searchpage .forResponsive #menu-icon {
    position: relative;
    left: 2em;
    bottom: 6em;
    height: 4vh;
    width: 8vw;
    padding: 0.5em;
    border: 1px solid #4adac6;
  }
  .searchpage .forResponsive .sidebar {
    top: 8.4em;
  }
  .searchpage .searchpage .connections {
    display: none;
  }
  .searchpage .searchpage .connections img {
    display: none;
  }
  .searchpage .homepage-nav {
    display: none;
  }
}

/* check in page */
.checkInPage {
  background-image: url("/imgs/bg.png");
  height: 100vh;
}

.checkInPage .forResponsive {
  display: none;
}

.checkInPage .connections {
  position: relative;
  margin-top: 6.9em;
}

.checkInPage .connections img {
  width: 100vw;
}

.checkInPage h2 {
  margin: 5em  0em 2em 19em;
  color: #ffff;
  font-weight: 400;
}

@media (max-width: 768px) {
  .checkInPage h2 {
    font-size: 1.8rem;
    margin: 4.5em 0em 1em 0.5em;
    font-weight: 300;
  }
  .checkInPage .options {
    margin: 0 auto;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkInPage .options input {
    width: 20em;
  }
  .checkInPage .options button {
    width: 15vw;
  }
}

@media (max-width: 376px) {
  .checkInPage {
    margin-top: -5.9em;
  }
  .checkInPage h2 {
    position: relative;
    top: 10em;
    font-size: 1.2rem;
    margin-left: 1.8em;
  }
  .checkInPage .options {
    position: relative;
    top: 15em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .checkInPage .options input {
    width: 70vw;
    font-size: 0.8rem;
  }
  .checkInPage .options button {
    font-size: 0.8rem;
    width: 75vw;
    margin: 1em 0em 0em -0.5em;
  }
  .checkInPage .forResponsive {
    display: block;
  }
  .checkInPage .forResponsive #menu-icon {
    position: relative;
    left: 2em;
    bottom: 6.4em;
    height: 4vh;
    width: 8vw;
    padding: 0.5em;
    border: 1px solid #4adac6;
  }
  .checkInPage .forResponsive .sidebar {
    top: 8.4em;
  }
  .checkInPage .checkInPage .connections {
    display: none;
  }
  .checkInPage .checkInPage .connections img {
    display: none;
  }
  .checkInPage .homepage-nav {
    display: none;
  }
}

/* search result page */
.visitor-details {
  padding: 2em 10em;
}

.visitor-details button {
  margin: 0.5em 0em 0em 60em;
  width: 10vw;
  padding: 0.8em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.visitor-details button:hover {
  background: #02e4c6;
}

.visitor-details-header {
  margin: 1em 1em 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visitor-details-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.visitor-details-header ul {
  width: 8%;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visitor-details-header ul img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchResults-options {
    width: 96.7vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchResults-options .options {
    margin-left: 2.5em;
    width: 80vw;
  }
  .searchResults-options .options input {
    width: 60vw;
  }
  .searchResults-options .options button {
    width: 18vw;
  }
  .visitor-details-header {
    margin: 2em 0em 1em -7.5em;
    width: 81vw;
  }
  .visitor-details-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visitor-details-cards .visitor {
    width: auto;
    margin-left: -7.5em;
  }
  .visitor-details button {
    margin-left: 14.8em;
    width: 20vw;
  }
  .searchResults .placeInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-bottom: 1.8em;
    top: 1.8em;
    left: 2.1em;
    width: 84vw;
  }
  .searchResults .placeInfo .details-info {
    width: 30vw;
  }
  .searchResults .placeInfo img {
    width: 52vw;
    height: 22vh;
    margin: 1em 0em 0em 5em;
  }
  .searchResults .placeInfo .details {
    padding: 0;
    width: auto;
    margin-left: 6em;
  }
  .searchResults .placeInfo .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .searchResults .placeInfo .information p {
    font-size: 0.8em;
    margin-left: 0em;
  }
  .searchResults .filter {
    top: 70em;
    left: 15.2em;
    width: auto;
  }
  .searchResults .filter div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .searchResults .filter div input {
    width: 32.5vw;
  }
}

@media (max-width: 376px) {
  .searchResults .homepage-nav {
    display: none;
  }
}

/* check in result page */
.checkinResults-options {
  padding: 2em 0em 1em 0em;
  background: #314049;
  opacity: 0.9;
  height: 10vh;
  width: 78.95em;
  position: absolute;
  z-index: 100;
}

@media (max-width: 768px) {
  .checkinResults-options {
    width: 96.7vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkinResults-options .options {
    margin-left: 2.5em;
    width: 80vw;
  }
  .checkinResults-options .options input {
    width: 60vw;
  }
  .checkinResults-options .options button {
    width: 18vw;
  }
  .checkinResults .placeInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 1.8em;
    left: 2.1em;
    width: 84vw;
    margin-bottom: 1.8em;
  }
  .checkinResults .placeInfo .details-info {
    width: 30vw;
  }
  .checkinResults .placeInfo .details {
    padding: 0;
    width: auto;
    margin-left: 6em;
  }
  .checkinResults .placeInfo img {
    width: 52vw;
    height: 22vh;
    margin: 1em 0em 0em 5em;
  }
  .checkinResults .placeInfo .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .checkinResults .placeInfo .information p {
    font-size: 0.8em;
    margin-left: 0em;
  }
}

/* visitor profile */
.place-cards-container {
  padding: 6em 1em;
  margin-left: 12em;
}

.place-cards-container #numberLog {
  margin-left: 46em;
}

.place-cards-container button {
  margin-left: 55em;
  margin-top: 0.2em;
  width: 10vw;
  height: 7.5vh;
  padding: 0.8em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.place-cards-container button:hover {
  background: #02e4c6;
}

.place-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 1em;
}

.visitor-profile #save {
  position: absolute;
  top: 15.8em;
  left: 69.5em;
  width: 10vw;
  height: 7.5vh;
  padding: 0.8em;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
  cursor: pointer;
}

.visitor-profile #save:hover {
  background: #02e4c6;
}

@media (max-width: 768px) {
  .place-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .place-cards .placesLogged {
    width: auto;
  }
  .place-cards-container #numberLog {
    margin-left: 19.5em;
  }
  .visitor-profile .profileHead-header #profile {
    left: 1.5em;
    top: 6.5em;
    width: 5.5em;
    height: 5.8em;
  }
  .visitor-profile .profileHead-name {
    left: 1.5em;
    top: 8em;
    font-size: 0.85rem;
  }
  .visitor-profile .profileHead-nationality {
    left: -0.5em;
    top: 7.5em;
    font-size: 0.85rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    height: 8vh;
  }
  .visitor-profile .profileHead-contact {
    left: -4em;
    top: 7.9em;
    font-size: 0.85rem;
  }
  .visitor-profile #save {
    left: 37em;
    width: 12vw;
    height: 6vh;
    padding: 0;
    top: 18em;
    font-size: 0.7rem;
  }
  .visitor-profile #more {
    position: relative;
    margin-left: 25.8em;
    height: 7vh;
    width: 20vw;
  }
}

/* user-profile */
.userprofile .profileHead .profileHead-contact {
  left: -2.2em;
}

.userprofile .edit {
  background: transparent;
  border: #00d3b8 solid 0.1em;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  color: #00d3b8;
  cursor: pointer;
  position: absolute;
  top: 8em;
  left: 75em;
}

.userprofile .edit:hover {
  background: #abfff4;
  color: black;
}

.userprofile-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userprofile-cards .latest-search-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.1em;
}

.userprofile-cards .latest-search-info label:nth-child(2) {
  font-size: small;
}

.userprofile-cards .latest-search {
  background: #a7d4d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  border-bottom: solid 0.01em #c4c4c4;
}

.userprofile-cards .latest-search:nth-child(5) {
  border-bottom: none;
}

.userprofile-cards .latest-search .rate {
  margin-top: 0.5em;
}

.userprofile-cards .sidebar {
  width: 20em;
  margin: 6em 10em;
}

.userprofile-cards .recent-searches .title {
  background: #a7d4d8;
  padding: 0.8em;
  margin-left: 0em;
  border-bottom: solid 0.01em #c4c4c4;
}

.userprofile-cards .search-post {
  background: #a7d4d8;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.4em;
  margin-bottom: 1em;
  border: none;
  outline: none;
}

.userprofile-cards .search-post button {
  height: 7vh;
  width: 3.6vw;
  padding: 0.8em;
  background: #00d3b8;
  outline: none;
  border: none;
  cursor: pointer;
}

.userprofile-cards .search-post button:hover {
  background: #09c2a9;
}

.userprofile-cards .search-post input {
  border: none;
  margin-right: 0.3em;
  height: 6vh;
  width: 16em;
  padding: 0.2em 1em;
}

.userprofile .saved-contacts {
  background: #d3e9eb;
  margin-top: 1em;
  width: 25vw;
}

.userprofile .saved-contacts .contact-images {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.userprofile .saved-contacts .displayContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 7vw;
  height: 18vh;
  padding: 0.3em;
  margin: 0.1em;
}

.userprofile .saved-contacts .displayContacts #followerImage {
  margin: 0 auto;
  width: 5vw;
  height: 11vh;
}

.userprofile .saved-contacts .displayContacts #followerName {
  text-align: center;
}

.userprofile .title {
  background: #a7d4d8;
  padding: 0.8em;
  margin-left: 0em;
}

.userprofile .contact-images {
  background: #a7d4d8;
  padding: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.userprofile .contact-images img {
  height: 7vh;
  margin: 0.3em;
  border-radius: 0.2em;
}

.userprofile-cards .main {
  width: 48vw;
  position: relative;
  margin: 5.6em 0em 1.8em -6em;
}

.userprofile-cards .main .placesLogged {
  width: 47vw;
}

.userprofile #more {
  padding: 0.2em 2em;
  height: 2.5em;
  position: absolute;
  margin-top: -1em;
  right: 6.9em;
  font-size: 1em;
  cursor: pointer;
  background: #00d3b8;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.2em;
}

.userprofile #more:hover {
  background: #09c2a9;
}

.profile-edit-form .flag-select__btn {
  background: #ffff;
  color: #8d8c8c;
  width: 26.5vw;
  height: 7vh;
  padding-bottom: 0.5em;
}

.profile-edit-form .flag-select__option {
  height: 5vh;
  width: 22vw;
  font-size: 0.85rem;
}

.profile-edit-form .flag-select__option .flag-select__option__label {
  margin-left: 1em;
}

.profile-edit-form .flag-select__options {
  height: 18vh;
  width: 26vw;
  overflow-x: hidden;
}

.profile-edit-form .flag-select__options .filterBox input {
  border: solid 1px black;
  margin: 0em 0.1em 0.3em 0.3em;
  height: 4vh;
  width: 24vw;
  padding: 0.2em 0em 0.2em 0.2em;
  text-indent: 0.3em;
}

.profile-edit-form .flag-select__option__icon {
  width: 5vw;
  height: 3vh;
}
/*# sourceMappingURL=styles.css.map */